<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>ProbAnno - probabilistic annotation of proteomes</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" media="screen">

</head>

<body>
  <header role="banner">
    <img class="ProbAnnoLogo" src="../static/ProbAnnoBanner.png" alt="Image of systems biology network. Text reads 'ProbAnno - Probabilistic annotation tool for metabolic modeling'.">
  </header>
  <div class="details">
    <p>
      <b>ProbAnno</b> (Probabilistic Annotation) is a method for annotating each protein sequence in a proteome based on similarity to proteins of known function in other organisms, and assigning a probability to each annotation.
    </p>
  </div>
  <div class="wrapper2">
    <div class="leftSideAbout">
      <h4>About</h4>
    </div>
    <div class="rightSideAbout">
      <ul>
        <li>Initial release: October 1, 2016</li>
        <li>
          <a href="http://github.com/kingb12/flask_probanno/issues">Report an issue with the web-site or API</a>
        </li>
        <li>
          <a href="http://probannoweb.systemsbiology.net/walkthrough">ProbannoWeb and Probannopy walkthrough</a>
        </li>
        <li>
          <a href="http://probannoweb.systemsbiology.net/swagger">ProbannoWeb API Documentation (Swagger style REST API documentation on SwaggerHub).</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="wrapper2">
    <div class="leftSideAbout">
      <h4>Communication</h4>
    </div>
    <div class="rightSideAbout">
      <ul>
        <li>To be notified of updates to ProbAnnoWeb, please follow the repository on <a href="http://github.com/kingb12/flask_probanno/">github</a></li>
      </ul>
    </div>
  </div>
  <div class="wrapper2">
    <div class="leftSideAbout">
      <h4>Attribution</h4>
    </div>
    <div class="rightSideAbout">
      <ul>
        <li>If you find ProbAnno useful for your work, please cite the publication describing the core algorithm:
          <br>
          <cite>Benedict MN, Mundy MB, Henry CS, Chia N, Price ND, Likelihood-based gene annotations for gap filling and quality assessment in genome-scale metabolic models.<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4199484/">PLoS Comput Biol. 2014 Oct; 10(10): e1003882. PMID 25329157</a>.</cite>
        </li>
          <li><p>This web service, created by <a href="https://www.systemsbiology.org/bio/terry-farrah/">Terry Farrah</a> and  <a href="https://www.github.com/kingb12/">Brendan King</a>. The code for the probabilistic annotation algorithm, <a href="https://github.com/tfarrah/ProbAnno-Standalone">ProbAnno-Standalone</a>, can be downloaded and run independently, and is also available as a python package <a href="https://github.com/PriceLab/probannopy">probannopy</a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
