<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>ProbAnno - probabilistic annotation of proteomes</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" media="screen">

</head>

<body onload="selectModels('modelSelect'); selectProbannos('probannoSelect')">
  <header role="banner">
    <img class="ProbAnnoLogo" src="../static/ProbAnnoBanner.png" alt="Image of systems biology network. Text reads 'ProbAnno - Probabilistic annotation tool for metabolic modeling'.">
  </header>
  <div class="wrapper">
    <fieldset>
      <legend>
        Gap-filling parameter input:
      </legend>
      <form id="runGapfill" role="search" enctype="multipart/form-data" method="get" action="">
        <div class="wrapper">
          <div class="leftSide">
            <h4>1) Input Model to be Gap-filled:</h4>
              <label> Select an uploaded metabolic model for gap-filling:
                <select name="model_id" id="modelSelect"></select>
              </label>
          </div>
        </div>
        <div class="wrapper">
          <div class="leftSide">
            <h4>2) Reaction Likelihoods for Gap-filling:</h4>
          </div>
          <div class="rightSide">
            <div class="template"></div>
            <label> Select a set of reaction likelihoods for gap-filling (by FASTA id):
              <select name="fasta_id" id="probannoSelect"></select>
            </label>
          </div>
        </div>
        <div class="wrapper">
          <div class="leftSide">
            <h4>3) Choose an appropriate Template Model:</h4>
          </div>
          <div class="rightSide">
            <div class="template"></div>
            <label> Select a template model for gap-filling:
              <select name="template" id="templateSelect">
                  <option value="GramNegative">Gram Negative</option>
                  <option value="GramPositive">Gram Positive</option>
                  <option value="Microbial">Microbial</option>
              </select>
            </label>
          </div>
        </div>
        <div class="wrapper">
          <div class="leftSide">
            <h4>4) Choose a name for the output model:</h4>
          </div>
          <div class="rightSide">
            <div class="template"></div>
            <label> Output Name:
              <input type="text" name="output_id" />
            </label>
          </div>
        </div>

        <p><input class="submit" formaction="/submit/model/gapfill" role="button" aria-pressed="false" type="submit" id="submit"></p>
      </form>
    </fieldset>
  </div>
  <footer>
    <p>ProbAnno is described in <cite>Benedict MN, Mundy MB, Henry CS, Chia N, Price ND, Likelihood-based gene annotations for gap filling and quality assessment in genome-scale metabolic models.<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4199484/">PLoS Comput Biol. 2014 Oct; 10(10): e1003882. PMID 25329157</a>.</cite>
    <p><a href="aboutProbAnno.html">Additional information about ProbAnno</a>
  </footer>
  <script src="{{url_for('static', filename='js/flask_probanno.js')}}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
</body>
</html>
