<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>ProbAnno - probabilistic annotation of proteomes</title>
  <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico">
  <link rel="stylesheet" href="css/typography.css" media="screen">
  <link rel="stylesheet" href="css/layout.css" media="screen">
  <link rel="stylesheet" href="css/style.css" media="screen">
  <link rel="stylesheet" href="css/mediaQueries.css" media="screen">
</head>

<body>
  <header role="banner">
    <img class="ProbAnnoLogo" src="../static/ProbAnnoBanner.png" alt="Image of systems biology network. Text reads 'ProbAnno - Probabilistic annotation tool for metabolic modeling'.">
  </header>
  <div class="wrapper">
    <fieldset>
      <legend>
        ProbAnno parameter input:
      </legend>
      <form id="runProbAnno" role="search" enctype="multipart/form-data" method="post" action="">
        <div class="wrapper">
          <div class="leftSide">
            <h4>1) Input proteome for probabilistic annotation</h4>
          </div>
          <div class="rightSide">
            <div class="proteome"></div>
            <label>Taxonomy ID:
              <input type="text" name="fasta_id" maxlength="7" pattern="^\d+$" title="Max Length: 7. This field accepts only numbers." />
<br />Browse available proteomes at <a target="_blank" href="http://www.uniprot.org/proteomes/">UniProt</a>. Examples:
<i>
<br />&nbsp;&nbsp;224308 (Bacillus subtilis)
<br />&nbsp;&nbsp;1051631 (Streptococcus phage YMC-2011)
</i>
            </label>
            <br /><br/>
            <label class="fileUpload">OR upload a proteome fasta file: <input class="fileUpload" type="file" name="fasta" size="30" maxlength="200">
            </label>
          </div>
        </div>
        <div class="wrapper">
          <div class="leftSide">
            <h4>2) Template for probabilistic annotation</h4>
          </div>
          <div class="rightSide">
            <div class="template"></div>
            <label>Template appropriate to proteome is:
              <select id="template" name="template">
                <option value="None" selected="selected">None - skip probabilistic annotation</option>
                <option value="GramNegative">GramNegative</option>
                <option value="GramPositive">GramPositive</option>
                <option value="Microbial">Microbial</option>
              </select>
            </label>
          </div>
        </div>
        <input class="submit" formaction="http://localhost:5000/api/probanno/calculate" role="button" aria-pressed="false" type="submit" name="submit" id="submit">
      </form>
    </fieldset>
  </div class="closesWrapper">
  <div class="wrapper">
    <fieldset>
      <legend>
        Upload a Metabolic Model:
      </legend>
        <form action="http://localhost:5000/api/io/uploadmodel" method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
    </fieldset>
  </div class="closesWrapper">
  <div id="loading"><img src="assets/loader.gif">Wait up to 10 minutes, depending on size of proteome ...</div>
  <div id="messages" class="wrapper"></div class="closesWrapper">
  <div id="downloadLink"></div>
  <footer>
    <p>ProbAnno is described in <cite>Benedict MN, Mundy MB, Henry CS, Chia N, Price ND, Likelihood-based gene annotations for gap filling and quality assessment in genome-scale metabolic models.<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4199484/">PLoS Comput Biol. 2014 Oct; 10(10): e1003882. PMID 25329157</a>.</cite>
    <p><a href="aboutProbAnno.html">Additional information about ProbAnno</a>
  </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
<script src="js/transform.js"></script>
<script src="js/app.js"></script>
</html>
