<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>ProbAnno - probabilistic annotation of proteomes</title>
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" media="screen">

</head>

<body onload="listModels('models_tbody'); listProbannos('probannos_tbody'); showJobs('jobs_tbody', 'jobs_table')">
  <header role="banner">
    <img class="ProbAnnoLogo" src="../static/ProbAnnoBanner.png" alt="Image of systems biology network. Text reads 'ProbAnno - Probabilistic annotation tool for metabolic modeling'.">
  </header>
  <div id="jobs_table" class="wrapper">
        <fieldset style="display: inline-block; width: 45%; vertical-align: center; horiz-align: center">
      <legend> Check Status of your previously submitted jobs: </legend>
        <div id="jobs_wrapper" class="dataTables_wrapper">
        <div class="dataTables_scroll">
            <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; padding-right: 0px;">
                    <table class="display dataTable" cellspacing="8" width="100%" role="grid" style="margin-left: 0px;">
                        <thead width="100%">
						    <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50%;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Target</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50%;" aria-label="Position: activate to sort column ascending">Job Type</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50%;" aria-label="Position: activate to sort column ascending">Status</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50%;" aria-label="Position: activate to sort column ascending"></th>
                            </tr>
					    </thead>
                    </table>
                </div>
            </div>
            <div id="probanno_div" class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 200px; width: 100%;">
                <table id="probanno" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                    <thead>
                        <tr role="row" style="height: 0px;">
                            <th class="sorting_asc" aria-controls="example" rowspan="1" colspan="1" style="width: 50%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-sort="ascending" aria-label="Name: activate to sort column descending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">FASTA ID</div></th>
                            <th class="sorting" aria-controls="example" rowspan="1" colspan="1" style="width: 50%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Reaction Likelihoods</div></th>
                        </tr>
                    </thead>
                    <tbody id="jobs_tbody"></tbody>
                    <tfoot>
                        <tr style="height: 0px;">
                            <th rowspan="1" colspan="1" style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 137px;"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Target</div></th>
                            <th rowspan="1" colspan="1" style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 214px;"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Job Type</div></th>
                            <th rowspan="1" colspan="1" style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 214px;"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Status</div></th>
                            <th rowspan="1" colspan="1" style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 214px;"><div class="dataTables_sizing" style="height:0;overflow:hidden;"></div></th>
                        </tr>
                    </tfoot>

                </table>
            </div>
            <div class="dataTables_scrollFoot" style="overflow: hidden; border: 0px; width: 100%;">
                <div class="dataTables_scrollFootInner" style="padding-right: 0px;">
                    <table class="display dataTable" cellspacing="0" width="100%" role="grid" style="margin-left: 0px;">
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1" style="width: 50%;"></th>
                                <th rowspan="1" colspan="1" style="width: 50%;"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
     <p>
         Select a Probabilistic Annotation to Download (Run one above).
     </p>
  </fieldset>
  </div class="closesWrapper">
  <div class="wrapper">
    <fieldset>
      <legend>
        ProbAnno parameter input:
      </legend>
      <form id="runProbAnno" role="search" enctype="multipart/form-data" method="post" action="">
        <div class="wrapper">
          <div class="leftSide">
            <h4>1) Input proteome for probabilistic annotation</h4>
          </div>
          <div class="rightSide">
            <div class="proteome"></div>
            <label>Taxonomy ID:
              <input type="text" name="fasta_id" maxlength="7" pattern="^\d+$" title="Max Length: 7. This field accepts only numbers." />
            <br />Browse available proteomes at <a target="_blank" href="http://www.uniprot.org/proteomes/">UniProt</a>. Examples:
            <i>
            <br />&nbsp;&nbsp;224308 (Bacillus subtilis)
            <br />&nbsp;&nbsp;1051631 (Streptococcus phage YMC-2011)
            </i>
            </label>
            <br /><br/>
            <label class="fileUpload">OR upload a proteome fasta file: <input class="fileUpload" type="file" name="fasta" size="30" maxlength="200">
            </label>
          </div>
        </div>
        <div class="wrapper">
          <div class="leftSide">
            <h4>2) Template for probabilistic annotation</h4>
          </div>
          <div class="rightSide">
            <div class="template"></div>
            <label>Template appropriate to proteome is:
              <select id="template" name="template">
                <option value="None" selected="selected">None - skip probabilistic annotation</option>
                <option value="GramNegative">GramNegative</option>
                <option value="GramPositive">GramPositive</option>
                <option value="Microbial">Microbial</option>
              </select>
            </label>
          </div>
        </div>
        <input class="submit" formaction="http://localhost:5000/api/probanno/calculate" role="button" aria-pressed="false" type="submit" name="submit" id="submit">
      </form>
    </fieldset>
  </div class="closesWrapper">
<div style="display: inline-block">
    <fieldset style="display: inline-block; width: 45%; vertical-align: center; horiz-align: center">
      <legend> Download a Probabilistic Annotation: </legend>
 <div id="probanno_wrapper" class="dataTables_wrapper">
        <div class="dataTables_scroll">
            <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; padding-right: 0px;">
                    <table class="display dataTable" cellspacing="8" width="100%" role="grid" style="margin-left: 0px;">
                        <thead width="100%">
						    <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50%;" aria-sort="ascending" aria-label="Name: activate to sort column descending">FASTA ID</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50%;" aria-label="Position: activate to sort column ascending">Reaction Likelihoods</th>
                            </tr>
					    </thead>
                    </table>
                </div>
            </div>
            <div id="probanno_div" class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 200px; width: 100%;">
                <table id="probanno" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                    <thead>
                        <tr role="row" style="height: 0px;">
                            <th class="sorting_asc" aria-controls="example" rowspan="1" colspan="1" style="width: 50%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-sort="ascending" aria-label="Name: activate to sort column descending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">FASTA ID</div></th>
                            <th class="sorting" aria-controls="example" rowspan="1" colspan="1" style="width: 50%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Reaction Likelihoods</div></th>
                        </tr>
                    </thead>
                    <tbody id="probannos_tbody">
                    </tbody>
                    <tfoot>
                        <tr style="height: 0px;">
                            <th rowspan="1" colspan="1" style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 137px;"><div class="dataTables_sizing" style="height:0;overflow:hidden;">FASTA ID</div></th>
                            <th rowspan="1" colspan="1" style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 214px;"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Reaction Likelihoods</div></th>
                        </tr>
                    </tfoot>

                </table>
            </div>
            <div class="dataTables_scrollFoot" style="overflow: hidden; border: 0px; width: 100%;">
                <div class="dataTables_scrollFootInner" style="padding-right: 0px;">
                    <table class="display dataTable" cellspacing="0" width="100%" role="grid" style="margin-left: 0px;">
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1" style="width: 50%;"></th>
                                <th rowspan="1" colspan="1" style="width: 50%;"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
     <p>
         Select a Probabilistic Annotation to Download (Run one above).
     </p>
  </fieldset>
    <fieldset  style="float: right; width: 45%; vertical-align: center; horiz-align: center;">
      <legend> Gapfill a Metabolic Model: </legend>
 <div id="model_wrapper" class="dataTables_wrapper">
        <div class="dataTables_scroll">
            <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; padding-right: 0px;">
                    <table class="display dataTable" cellspacing="8" width="100%" role="grid" style="margin-left: 0px;">
                        <thead width="100%">
						    <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50%;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Model Name</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50%;" aria-label="Position: activate to sort column ascending">Gapfill Model</th>
                            </tr>
					    </thead>
                    </table>
                </div>
            </div>
            <div id="models_div" class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 200px; width: 100%;">
                <table id="models" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                    <thead>
                        <tr role="row" style="height: 0px;">
                            <th class="sorting_asc" aria-controls="example" rowspan="1" colspan="1" style="width: 50%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-sort="ascending" aria-label="Name: activate to sort column descending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Model Name</div></th>
                            <th class="sorting" aria-controls="example" rowspan="1" colspan="1" style="width: 50%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Gapfill Model</div></th>
                        </tr>
                    </thead>
                    <tbody id="models_tbody">
                    </tbody>
                    <tfoot>
                        <tr style="height: 0px;">
                            <th rowspan="1" colspan="1" style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 137px;"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Model Name</div></th>
                            <th rowspan="1" colspan="1" style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 214px;"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Gapfill Model</div></th>
                        </tr>
                    </tfoot>

                </table>
            </div>
            <div class="dataTables_scrollFoot" style="overflow: hidden; border: 0px; width: 100%;">
                <div class="dataTables_scrollFootInner" style="padding-right: 0px;">
                    <table class="display dataTable" cellspacing="0" width="100%" role="grid" style="margin-left: 0px;">
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1" style="width: 50%;"></th>
                                <th rowspan="1" colspan="1" style="width: 50%;"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
     <p>
         Select a Metabolic Model to gap-fill (upload one below).
     </p>
  </fieldset>
</div>
  <div class="wrapper">
    <fieldset>
      <legend>
        Upload a Metabolic Model:
      </legend>
        <form action="http://localhost:5000/api/io/uploadmodel" method=post enctype=multipart/form-data>
            <input type=file name="file">
            <input type="text" id="upload_model_id" name="upload_model_id"/>
            <label for="upload_model_id">Model ID (optional, inferred from file if blank)</label>
            <input type=submit value=Upload>
        </form>
    </fieldset>
  </div class="closesWrapper">
  <div id="messages" class="wrapper"></div class="closesWrapper">
  <div id="downloadLink"></div>
  <footer>
    <p>ProbAnno is described in <cite>Benedict MN, Mundy MB, Henry CS, Chia N, Price ND, Likelihood-based gene annotations for gap filling and quality assessment in genome-scale metabolic models.<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4199484/">PLoS Comput Biol. 2014 Oct; 10(10): e1003882. PMID 25329157</a>.</cite>
    <p><a href="aboutProbAnno.html">Additional information about ProbAnno</a>
  </footer>
  <script src="{{url_for('static', filename='js/flask_probanno.js')}}"></script>
  <script>
      function showJobs(t_body_id, jobs_table_id) {
          listJobs(t_body_id);
          var jobs_tbody = document.getElementById(t_body_id);
          if (jobs_tbody.innerHTML === '') {
              var jobs_table = document.getElementById(jobs_table_id);
              jobs_table.innerHTML = '';
          }
      }
  </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
</body>
</html>
