<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" media="screen">
</head>
<body onload="listModels('models_tbody')">
<script src="{{url_for('static', filename='js/flask_probanno.js')}}"></script>
    <div id="example_wrapper" class="dataTables_wrapper">
        <div class="dataTables_scroll">
            <div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;">
                <div class="dataTables_scrollHeadInner" style="box-sizing: content-box; padding-right: 0px;">
                    <table class="display dataTable" cellspacing="0" width="100%" role="grid" style="margin-left: 0px;">
                        <thead width="100%">
						    <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50%;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Model Name</th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 50%;" aria-label="Position: activate to sort column ascending">Gapfill Model</th>
                            </tr>
					    </thead>
                    </table>
                </div>
            </div>
            <div id="models_div" class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 200px; width: 100%;">
                <table id="example" class="display dataTable" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                    <thead>
                        <tr role="row" style="height: 0px;">
                            <th class="sorting_asc" aria-controls="example" rowspan="1" colspan="1" style="width: 50%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-sort="ascending" aria-label="Name: activate to sort column descending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Model Name</div></th>
                            <th class="sorting" aria-controls="example" rowspan="1" colspan="1" style="width: 50%; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Gapfill Model</div></th>
                        </tr>
                    </thead>
                    <tbody id="models_tbody">
                    </tbody>
                    <tfoot>
                        <tr style="height: 0px;">
                            <th rowspan="1" colspan="1" style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 137px;"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Model Name</div></th>
                            <th rowspan="1" colspan="1" style="padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px; width: 214px;"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Gapfill Model</div></th>
                        </tr>
                    </tfoot>

                </table>
            </div>
            <div class="dataTables_scrollFoot" style="overflow: hidden; border: 0px; width: 100%;">
                <div class="dataTables_scrollFootInner" style="padding-right: 0px;">
                    <table class="display dataTable" cellspacing="0" width="100%" role="grid" style="margin-left: 0px;">
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1" style="width: 50%;"></th>
                                <th rowspan="1" colspan="1" style="width: 50%;"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
<script src="{{url_for('static', filename='js/jquery-1.12.4.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
</body>
</html>