<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
          <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" media="screen">
</head>
<body>
    <input type="button" value="Generate Table" onclick="GenerateTable('dvTable')" />
<hr />
<div class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 2200px; width: 100%;" id="dvTable">
</div>

<script src="../static/js/scrolltable.js"></script>
<script src="../static/js/jquery-1.12.4.js"></script>
<script src="../static/js/jquery.dataTables.min.js"></script>
</body>
</html>